/* Шрифты */

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans_300.woff), url(../fonts/opensans_300.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans_400.woff), url(../fonts/opensans_400.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans_600.woff), url(../fonts/opensans_600.woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans_700.woff), url(../fonts/opensans_700.woff2);
  font-weight: 700;
  font-style: normal;
}


/* Общие стили */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body, ul, li, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus,
:active {
  border: none;
  outline: none;
}

.wrapper {
  margin: 0 auto;
}

.container {
  width: 100%;
}

.container_full {
  width: 100%;
}

.container_content {
  max-width: 1600px;
  margin: 0 auto;
}

.text-semibold {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

/* -----> 
Header
<----- */

.container_top {
  width: 100%;
  min-height: 800px;
  margin-bottom: 80px;
  background-image: url(../img/hero-background/01_birmingham-museums-trust.jpg);
  background-position: center;
  background-size: cover;
}

.header_top {
  height: 100px;
  background-color: #000000;
}

.top_menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo__container {
  display: flex;
  margin-right: 174px;
}

.logo__container:focus {
  outline: 2px solid #7943A4;
  outline-offset: 5px;  
}

.logo {
  width: 173px;
  height: 40px;
  background-image: url(../img/logo.svg);
}

.menu__list {
  display: flex;
  margin-right: 268px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #FFFFFF;
  white-space: nowrap;
}

.menu__link {
  padding: 0 6px;
}

.menu__item:not(:first-child) {
  margin-left: -12px;
}

.menu__link:hover {
  color: #C283F3;
}

.menu__link:active {
  color: #7943A4;
}

.menu__link:focus {
  outline: 2px solid #7943A4;
  outline-offset: 5px;
}

.menu__item:not(:last-child) {
  margin-right: 62px;
}

.header__enter {
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
}

.header__enter:hover  {
  color: #C283F3;
}

.header__enter:hover .enter__image {
  background-image: url(../img/login-img-hover.svg);
}

.header__enter:focus {
  outline: 2px solid #7943A4;
  outline-offset: 5px;
}

.enter__image {
  width: 18px;
  height: 13px;
  margin-right: 7px;
  background-image: url(../img/login-img.svg);
  background-repeat: no-repeat;
  background-position: right;
}

/* NEW SUB_MENU */

.header__bottom-full {
  height: 70px;
  margin-bottom: 72px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trend-list {
  display: flex;
  align-items: center;
  height: 70px;
  margin-left: -1px;
}

.trend-items:not(:last-child) {
  margin-right: 94px;
}

.trend-items {
  display: flex;
  align-items: center;
}

.trend-items:focus {
  outline: 2px solid #7943A4;
  outline-offset: 5px;
}

.trend-items:focus .droplist {
  display: block;
}

.trend-items:hover .trend-item__btn {
  color:#9D5CD0;
  transition: 0.25s linear;
}

.trend-items:hover .trend-item__btn::after {
  border-top: 1px solid #9D5CD0;
  border-left: 1px solid #9D5CD0;
  transition: 0.25s linear;
}

.trend-items:active .trend-item__btn {
  color: #7943A4;
}

.trend-items:active .trend-item__btn::after {
  border-top: 1px solid #7943A4;
  border-left: 1px solid #7943A4;
}

.trend-items.active .trend-item__btn::after {
  top: 10px; 
  border-top: 1px solid #9D5CD0;
  border-left: 1px solid #9D5CD0;
  transform: rotate(45deg);
}

.trend-items.active .trend-item__btn {
  color: #9D5CD0;
}

.trend-item__btn {
  position: relative;
  padding: 0;
  padding-right: 19px;
  min-height: auto; 
  font-size: 18px;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  border: none; 
}

.trend-item__btn::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 7px;
  height: 6px;
  width: 6px;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  transform: rotate(225deg);
}

.trend-item__btn:focus {
  outline: 2px solid #7943A4;
  outline-offset: 5px;
}

.trend-item__name_open::after {
  top: 12px;
  border-color: #9D5CD0;
  transform: rotate(45deg);
}

.droplist {
  position: absolute;
  top: 170px;
  display: none;
  min-width: 300px;
  height: 300px;
  padding: 40px 19px 40px 40px;
  background: rgba(0, 0, 0, 0.6);
}

.trend-items.active .droplist {
  display: block;
}

.droplist__list {
  height: 220px;
}

.droplist__items {
  padding-right: 21px;
}

.droplist__items:not(:last-child) {
  margin-bottom: 20px;
}

.droplist__link {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 14px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  outline-offset: -2px;
}

.droplist__link:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 40px;
  background-color: rgba(194, 131, 243, 0.4);
  outline: 2px solid #D1A9F0;
  outline-offset: -2px;
}

/* Реализм */

.link-author_tintoretto {
  background-image: url(../img/rout/01_real/img_1.png);
}

.link-author_fridrich {
  background-image: url(../img/rout/01_real/img_2.png);
}

.link-author_leonardo {
  background-image: url(../img/rout/01_real/img_3.png);
}

.link-author_veroccyo {
  background-image: url(../img/rout/01_real/img_4.png);
}

/* Импрессионизм */

.link-author_mone {
  background-image: url(../img/rout/02_impres/img_1.png);
}

.link-author_sysle {
  background-image: url(../img/rout/02_impres/img_2.png);
}

.link-author_mane {
  background-image: url(../img/rout/02_impres/img_3.png);
}

.link-author_renuar {
  background-image: url(../img/rout/02_impres/img_4.png);
}

/* Постимпрессионизм */

.link-author_gog {
  background-image: url(../img/rout/03_postimpres/img_1.png);
}

.link-author_sesann {
  background-image: url(../img/rout/03_postimpres/img_2.png);
}

.link-author_gogen {
  background-image: url(../img/rout/03_postimpres/img_3.png);
}

.link-author_sera {
  background-image: url(../img/rout/03_postimpres/img_4.png);
}

/* Авангард */

.link-author_kandinsky {
  background-image: url(../img/rout/04_avangard/img_01.png);
}

.link-author_marinet {
  background-image: url(../img/rout/04_avangard/img_02.png);
}

.link-author_picasso {
  background-image: url(../img/rout/04_avangard/img_03.png);
}

.link-author_malevic {
  background-image: url(../img/rout/04_avangard/img_04.png);
}

/* Футуризм */

.link-author_karra {
  background-image: url(../img/rout/05_future/img_01.png);
}

.link-author_pratella {
  background-image: url(../img/rout/05_future/img_02.png);
}

.link-author_severiny {
  background-image: url(../img/rout/05_future/img_03.png);
}

.link-author_balla {
  background-image: url(../img/rout/05_future/img_04.png);
}

.droplist__link:hover {
  outline: 2px solid #9D5CD0 ;
}

.droplist__link:focus {
  outline: 2px solid #D1A9F0;
}

/* SIMPLEBAR */

.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  max-width: 2px;
  width: 2px;
  background-color: #FFFFFF;
  border-radius: 0px;
}

.droplist:hover .simplebar-scrollbar::before {
  background-color: #9D5CD0;
}

.simplebar-track .simplebar-scrollbar {
  width: 2px;
}

/* SEARCH */

.site-search {
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.site-search__btn {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  background-image: url(../img/pictogram/search.svg);
  background-color: transparent;
  border: none;
}

.site-search__input {
  width: 218px;
  padding: 0;
  color: #C283F3;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.site-search__btn:focus,
.site-search__input:focus {
  outline: 2px solid #7943A4;
  outline-offset: 5px;
}

.site-search__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.site-search:hover .site-search__btn {
  background-image: url(../img/pictogram/search-hover.svg);
}

.site-search__input:focus .site-search__btn {
  background-image: url(../img/pictogram/search-hover.svg);
}

.site-search:hover .site-search__input {
  border-bottom: 1px solid #C283F3; 
}



/* ----->
 SECTION HERO 
 <----- */

.section__hero {
  width: 100%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  max-width: 590px;
}

.hero__title {
  display: inline-block;
  padding: 0 0 0 0;
  margin: 0 0 20px -5px;
  font-size: 72px;
  line-height: 82px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero__text {
  display: inline-block;
  margin: 0 0 92px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 314px;
  width: 100%;
  height: 70px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  border: none;
  border-radius: 100px;
  background-color: #9D5CD0;
}

.hero__link:hover {
  border: 3px solid #D1A9F0;
}

.hero__link:active {
  border: 3px solid #D1A9F0;
  background-color: #7943A4;
}

/* -----> 
ABOUT__US 
<----- */

.section__about {
  display: flex;
  flex-direction: column;
}

.title-regular {
  display: inline-block;
  margin: 0 0 16px -2px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
}

.title-white {
  color: #FFFFFF;
}

.about-text-container {
  max-width: 1080px;
  width: 100%;
}

.text-regular {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.text-white {
  color: #FFFFFF;
}

.container_content.section__about {
  margin-bottom: 70px;
}

/* -----> 
GALLERY 
<----- */

.gallery {
  margin-bottom: 80px;
}

.container_full.gallery {
  width: 100%;
  height: 995px;
  background-image: url(../img/gallery/gallery-background.jpg);
  background-position: center;
  background-size: cover;
}

.gallery__container {
  display: flex;
  height: 100%;
  padding: 70px 0;
}

.gallery__left {
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin: 0 50px 0 0;
  padding: 10px 0 0 0;
}

.gallery__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__gallery__text {
  display: inline-block;
  margin-bottom: 10px;
}

/* CHOICES */

.choices__inner {
  min-height: 40px;
  padding: 5px 5px 5px 10px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: transparent;
  border-radius: 6px;
}

.is-open .choices__inner {
  min-height: 40px;
  padding: 5px 5px 5px 10px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: transparent;
  border-radius: 6px;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border: 1px solid #FFFFFF;
}

.choices__list--dropdown {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: transparent;
}

.is-open .choices__list--dropdown {
  border: 1px solid #999999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.choices__list--dropdown .choices__item:hover {
  color: #C283F3;
}

.choices[data-type*=select-one]:after {
  content: '';
  position: absolute;
  right: 14px;
  top: 18px;
  margin-top: -2px;
  height: 10px;
  width: 12px;
  border: none;
  background-image: url(../img/pictogram/down-img.svg);
  pointer-events: none
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -2px
}

/* --------- */

.gallery__right{
  max-width: 1150px;
  width: 100%;
  height: 100%;
}

.link__active {
  color: #C283F3;
}

.link__active:hover {
  border-bottom: 1px solid #C283F3;
}


/* SWIPER GALLERY */

.gallery__right .swiper-container {
  width: 100%;
  height: 100%;
}

.gallery__right .swiper-wrapper {
  top: 95px;
  flex-wrap: wrap;
}

.gallery__right .swiper-slide {
  height: 350px;
}

.gallery__right .swiper-pagination-fraction {
  position: absolute;
  top: -7px;
  left: 38px;
  width: 60px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #FFFFFF;
  
}

.gallery__right .swiper-button-prev::after,
.gallery__right .swiper-button-next::after {
  display: none;
}

.gallery__right .swiper-button-next,
.gallery__right .swiper-button-prev {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: #666666;
}

.gallery__right .swiper-button-prev.swiper-button-disabled,
.gallery__right .swiper-button-next.swiper-button-disabled {
  opacity: 0.7;
}

 .gallery__right .swiper-button-prev {
  top: 15px;
  left: 2px;
}

.gallery__right .swiper-button-next {
  top: 8px;
  left: 104px;
}

.gallery__right .swiper-button-next::before {
  content: '';
  position: absolute;
  left: 9px;
  top: 10px;
  width: 7px;
  height: 7px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(-45deg);
}

.gallery__right .swiper-button-prev::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 10px;
  width: 7px;
  height: 7px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(135deg);
}

.gallery__right .swiper-button-next:hover,
.gallery__right .swiper-button-prev:hover {
  background-color: #9D5CD0;
}

.gallery__right .swiper-button-next:active,
.gallery__right .swiper-button-prev:active {
  background-color: #7943A4;
  border: 2px solid #D1A9F0;
}

.gallery__right .swiper-button-next:active::before {
  top: 8px;
  left:7px;
}

.gallery__right .swiper-button-prev:active::before {
  top: 8px;
  left:10px;
}

.gallery__right .swiper-top {
  position: absolute;
  top: 42px;
  width: 130px;
  height: 30px;
}

/* ----->
CATALOG 
<----- */

.catalog__top {
  display: flex;
  align-items: center;
}

.catalog__title {
  display: inline-block;
  margin-right: 42px;
}

.country__tabs__list {
  display: flex;
  padding-bottom: 8px;
}

.country__tabs__item {
  width: 46px;
  height: 46px;
}

.country__tabs__item:not(:last-child) {
  margin-right: 50px;
}

.tabs__btn {
  position: relative;
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.tabs__btn:hover {
  box-shadow: 0px 0px 10px 5px rgba(157, 92, 208, 0.4);
}

[data-tabs_path="france"] {
  background-image: url(../img/catalog/france.png);
  outline: none;
}

[data-tabs_path="germany"] {
  background-image: url(../img/catalog/germany.png);
  outline: none;
}

[data-tabs_path="italy"] {
  background-image: url(../img/catalog/italy.png);
  outline: none;
}

[data-tabs_path="russia"] {
  background-image: url(../img/catalog/russia.png);
  outline: none;
}

[data-tabs_path="belgium"] {
  background-image: url(../img/catalog/belgium.png);
  outline: none;
}

.catalog__text__block {
  max-width: 1080px;
  margin-bottom: 40px;
}

.tabs__btn_active::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 62px;
  height: 62px;
  border: 2px solid #9D5CD0;
  border-radius: 100%;
}

/* --TABS BOTTOM-- */

.catalog__bottom {
  display: flex;
  margin-bottom: 80px;
}

.catalog__bottom__left {
  max-height: 1145px;
  max-width: 750px;
  width: 100%;
  margin-right: 50px;
}

.catalog__bottom__right {
  max-height: 1145px;
  max-width: 800px;
  width: 100%;
}

/* TABS COUNTRY */

.country__tabs__content {
  display: none;
}

.tab__content__active {
  display: block;
  width: 100%;
  height: 100%;
}

/* ACCORDION */

.ui-accordion {
  max-width: 800px;
  width: 100%;
  max-height: 1145px;
  overflow: hidden;
}

.ui-accordion-header {
  display: flex;
  align-items: center;
  height: 114px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  border-top: 1px solid gray;
}

h3.ui-accordion-header:nth-last-of-type(1){
  border-bottom: 1px solid gray;
}

.ui-accordion-content-active + .ui-accordion-header {
  border: transparent;
}

.ui-accordion-content {
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.ui-accordion-header-active .item__title__icon::after {
  top: 22px;
  transform: rotate(225deg);
  transition: 0.25s linear;
}

.author__container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 48px;
  grid-template-columns: repeat(3, 210px);
  grid-template-rows: repeat(9, 32px);
  padding: 25px 0 28px 0;
  width: 100%;
  height: 344px;
}

.item__title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item__title__text {
  display: inline-block;
  padding-bottom: 5px;
}

.item__title__icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-radius: 25px;
  cursor: pointer;
}

.item__title__icon::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 18px;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: rotate(45deg);
}

.item__link {
  cursor: pointer;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400px;
}

.item__link:hover .item__link_hover {
  border-bottom: 1px solid #9D5CD0;
}

.item__link:active {
  color: #7943A4;
  font-weight: 600;
}

.link__no-content {
  color: rgb(155, 155, 155);
}

.item__link__is_active {
  color: #9D5CD0;
  font-weight: 600;
}

.item__title:hover .item__title__text {
  color:#9D5CD0;
}

.item__title:hover .item__title__icon {
  background-color: #9D5CD0;
  transition: 0.25s linear;
}

.item__title:hover .item__title__icon::after {
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  transition: 0.25s linear;
}

.item__title:active .item__title__text {
  color: #7943A4;
}

.item__title:active .item__title__icon {
  background-color: #7943A4;
}

/* LEFT TABS */

.tabs_disable {
  display: none;
}

.author-content__tabs_active {
  display: flex;
  width: 100%;
  height: 100%;
}

.author-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.author__portrait {
  width: auto;
  max-height: 600px;
  margin-bottom: 30px;
}

.author__name {
  display: block;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
}

.author__date {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  
}

/* ----->
EVENTS 
<----- */

.events__container {
  width: 100%;
  margin-bottom: 80px;
  overflow: hidden;
}


.events__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
}

.events__list.max_events {
  max-height: 1450px;
}

.events__item {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  height: 700px;
  border: 1px solid #CACACA;
}

.events__item:not(:nth-child(3n)){
  margin-right: 50px;
}

.events__item:nth-child(3n){
  margin-bottom: 50px;
}

.events__item__poster {
  margin-bottom: 14px;
}

.events__info {
  align-self: flex-end;
  padding-right: 18px;
  margin-bottom: 6px;
  text-align: end;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #999999;
}

.info-text {
  display: block;
}

.events__item__description {
  padding-left: 50px;
  padding-right: 40px;
}

.events__item__title {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 2px;
}

.events__item__text {
  display: block;
  height: 200px;
  padding-left: 1px;
  margin-bottom: 16px;
}

.events__item:nth-child(3) .events__item__text {
  margin-bottom: 48px;
}

.events__item__link {
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.events__btn {
  width: 188px;
  height: 58px;
  font-weight: 700;
  font-size: 18px;
  color: #9D5CD0;
  border: 2px solid #9D5CD0;
  border-radius: 40px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.events__btn:hover {
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.events__btn:focus {
  color: #FFFFFF;
  border: 3px solid #D1A9F0;
  background-color: #7943A4;
}

.disable {
  display: none;
}

/* ----->
PUBLICATION 
<----- */

/* CATEGORY */

.publication {
  height: 763px;
  margin-bottom: 80px;
  background-image: url(../img/publication/publication_background.jpg);
  background-position: center;
  background-size: cover;
}

.publication__container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  color: #FFFFFF;
}

.publication__left-side {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.publication__right-side {
  max-width: 1150px;
  width: 100%;
  height: 610px;
}

.publication__title {
  display: inline-block;
  margin-bottom: 18px;
}

.category__list {
  margin-bottom: 26px;
}

.category__title {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}

.category__style-checkbox {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.category__checkbox {
  display: none;
}

.category__checkbox + span {
  position: absolute;
  top: 6px;
  left: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #FFFFFF;
}

.category__checkbox+span::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  opacity: 0;
  border-radius: 2px;
  background-color: #C283F3;
}

.category__checkbox:checked+span {
  border: 1px solid #C283F3;
}

.category__checkbox:checked+span::before {
  opacity: 1;
}

.category__checkbox:checked+span+span {
  color: #C283F3;
}

/* FILTER-PRICE */

.price-filter__form {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 278px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.price-filter__value {
  width: 73px;
  height: 40px;
  padding-left: 10px;
  color: #FFFFFF;
  background-color: rgba(157, 92, 208, 0.5);
  border: none;
  box-shadow: none;
}

.price-filter__value::placeholder {
  color: #FFFFFF;
}

.price-filter__title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}

.price-filter__txt:not(:last-child) {
  width: 38px;
  padding-left: 2px;
  text-align: center;
}

div.price-filter__txt {
  padding-left: 12px;
}

/* SWIPER PUBLICATION */

.publication__swiper-image {
  margin-bottom: 21px;
}

.card__container-info {
  display: flex;
  justify-content: space-between;
}

.container-info_name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.container-info_price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: italic;
}

.container-card__author {
  display: block;
  margin-bottom: 19px;
}

.swiper-card__btn {
  width: 120px;
  height: 40px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  border: 2px solid #9D5CD0;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}

.swiper-card__btn:hover {
  background-color: #9D5CD0;
}

.swiper-card__btn:active {
  background-color: #7943A4;
}

.publication__right-side .swiper-pagination-fraction {
  position: absolute;
  top: -7px;
  left: 36px;
  width: 60px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #FFFFFF;
}

.publication__right-side .swiper-button-prev::after,
.publication__right-side .swiper-button-next::after {
  display: none;
}

.publication__right-side .swiper-button-next,
.publication__right-side .swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #666666;
}

.publication__right-side .swiper-button-prev.swiper-button-disabled,
.publication__right-side .swiper-button-next.swiper-button-disabled {
  opacity: 0.7;
}

.publication__right-side .swiper-button-prev {
  top: 15px;
  left: 0px;
}

.publication__right-side .swiper-button-next {
  top: 15px;
  left: 100px;
}

.publication__right-side .swiper-button-next::before {
  content: '';
  position: absolute;
  left: 9px;
  top: 10px;
  width: 7px;
  height: 7px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(-45deg);
}

.publication__right-side .swiper-button-prev::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 10px;
  width: 7px;
  height: 7px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(135deg);
}

.publication__right-side .swiper-button-next:hover,
.publication__right-side .swiper-button-prev:hover {
  background-color: #9D5CD0;
}

.publication__right-side .swiper-button-next:active,
.publication__right-side .swiper-button-prev:active {
  background-color: #7943A4;
  border: 2px solid #D1A9F0;
}

.publication__right-side .swiper-button-next:active::before {
  top: 8px;
  left:7px;
}

.publication__right-side .swiper-button-prev:active::before {
  top: 8px;
  left:10px;
}

.publication__right-side .swiper-top {
  position: absolute;
  top: 40px;
  left: 0;
  width: 400px;
  height: 30px;
}

.publication__right-side .swiper-wrapper {
  top: 94px;
}

.publication__right-side .swiper-container {
  height: 100%;
}

/* ----->
PROJECT
<----- */

.project__container {
  margin-bottom: 80px;
}

.project__text {
  display: block;
  max-width: 1080px;
  margin-bottom: 24px;
}

.project__tooltip {
  position: relative;
  top: 0px;
  right: 2px;
  width: 16px;
  height: 16px;
  padding: 1px 0 0 0;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #9D5CD0;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid #9D5CD0;
  border-radius: 8px;
 
}

.project__swiper-image_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.project__tooltip:hover{
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.project__tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: 28px;
  width: 260px;
  padding: 7px 4px 11px 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #FFFFFF;
  visibility: hidden;
  background-color: #CACACA;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.4s cubic-bezier(0.075, 0.85, 0.165, 1);
}

.project__tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 0;
  height: 0;
  visibility: hidden;
  border: 10px solid;
  border-color: transparent;
  border-top-color: #CACACA;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.4s cubic-bezier(0.075, 0.85, 0.165, 1);
}

.project__tooltip:hover {
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.project__tooltip:hover::after,
.project__tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}


.project__tooltip:focus {
  outline: none;
  background-color: #C283F3;
  color: #fff;
}

.project__tooltip:focus::after,
.project__tooltip:focus::before {
  opacity: 1;
  visibility: visible;
}

.project__subtitle {
  display: inline-block;
  margin-left: -2px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.project__swiper .swiper-container {
  position: relative;
  max-width: 100%;
  padding-left: 75px;
  padding-right: 75px;
  overflow: hidden;
  
}

.project__swiper .swiper-container::before {
  content: "";
  position: absolute;
  left: -12px;
  width: 85px;
  height: 100%;
  z-index: 10;
  background-color: #FFFFFF;
}

.project__swiper .swiper-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 85px;
  height: 100%;
  z-index: 1;
  background-color: #FFFFFF; 
}

.project__swiper .swiper-wrapper {
  max-width: 1450px;
  height: 150px;
}

.project__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border: 1px solid #CACACA;
  filter: grayscale(100%);
}

.project__swiper .swiper-slide:hover{
  filter: grayscale(0%);
}

.project__swiper .swiper-button-next::after {
  content: '';
  position: absolute;
  left: 6px;
  width: 30px;
  height: 30px;
  background-image: url(../img/project/next.png);
}

.project__swiper .swiper-button-prev::after {
  content: '';
  position: absolute;
  left: -10px;
  width: 30px;
  height: 30px;
  background-image: url(../img/project/back.png);
}

.project__swiper .swiper-button-next:hover::after {
  background-image: url(../img/project/arrow_hover.svg);
}

.project__swiper .swiper-button-prev:hover::after {
  background-image: url(../img/project/arrow_hover.svg);
  transform: rotate(180deg);
}

.project__swiper .swiper-button-next:active::after {
  background-image: url(../img/project/arrow_active.svg);
}

.project__swiper .swiper-button-prev:active:after {
  background-image: url(../img/project/arrow_active.svg);
  transform: rotate(180deg);
}

/* ----->
CONTACTS
<----- */

.contacts__wrapper {
  display: flex;
  overflow: hidden;
}

.contacts-left {
  display: flex;
  flex-direction: column;
  flex: 0 1 35.5%;
  flex-shrink: 0;
  height: 700px;
  padding: 125px 0 125px 158px;
  border: 1px solid #CACACA;
}

.address__room {
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 600;
}

.contacts-form {
  display: flex;
  flex-direction: column;
}

.contacts-left__address {
  margin-bottom: 32px;
}

.sub__title {
  font-size: 24px;
  font-weight: 400;
}

.contacts-form__sub-title {
  margin-bottom: 18px;
}

.contacts-form__input {
  max-width: 400px;
  height: 40px;
  width: 100%;
  padding-left: 24px;
  margin-bottom: 22px;
  border: 1px solid #333333;
  border-radius: 20px; 
}

.contacts-form__btn {
  width: 158px;
  height: 60px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #9D5CD0;
  border: 2px solid #9D5CD0;
  border-radius: 30px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.contacts-form__btn:hover {
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.contacts-form__btn:focus {
  color:#FFFFFF;
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

.social__sub-title {
  display: inline-block;
  margin-bottom: 18px;
}

.social__wrapper-icon {
  display: flex;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.contacts-right {
  flex: 0 1 64.5%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* ----->
FOOTER 
<----- */

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding: 0 160px;
  background-color: #000000;
}

.footer-social__container {
  display: flex;
}

.footer-social__link {
  display: block;
  width: 46px;
  height: 46px;
}

.footer-social__link:not(:nth-child(3)){
  margin-right: 18px;
}