/* Шрифты */

@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/opensans_300.woff), url(/fonts/opensans_300.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/opensans_400.woff), url(/fonts/opensans_400.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/opensans_600.woff), url(/fonts/opensans_600.woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/opensans_700.woff), url(/fonts/opensans_700.woff2);
  font-weight: 700;
  font-style: normal;
}


/* Общие стили */

* {
  box-sizing: border-box;
}

body, ul, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus,
:active {
  border: none;
  outline: none;
}

:focus {
  outline: 2px solid #7943A4;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.container__full {
  width: 100%;
}

.container__content {
  max-width: 1600px;
  margin: 0 auto;
}

.text-white-light {
  font-family: 'Open Sans';

}

/* Header */

.container_top {
  width: 100%;
  height: 800px;
  background-image: url(/img/hero-background/01_birmingham-museums-trust.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}

.main__menu {
  height: 100px;
  background-color: #000000;
}

.main__menu__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo__container {
  display: flex;
  margin-right: 180px;
}

.logo {
  width: 173px;
  height: 40px;
  background-image: url(/img/logo.svg);
}

.menu__list {
  display: flex;
  margin-right: 274px;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 600;
  color: #FFFFFF;
  white-space: nowrap;
}

.menu__link {
  padding: 0 6px;
}

.menu__item:first-child {
  margin-left: -6px;
}

.menu__item:not(:first-child) {
  margin-left: -12px;
}

.menu__link:hover {
  color: #C283F3;
}

.menu__item:not(:last-child) {
  margin-right: 62px;
}

.enter {
  display: flex;
  align-items: center;
  padding: 2px;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 400;
  color: #FFFFFF;
}

.enter:hover  {
  color: #C283F3;
}

.enter:hover .enter__image {
  background-image: url(/img/login-img-hover.svg);
}

.enter__image {
  width: 18px;
  height: 13px;
  margin-right: 7px;
  background-image: url(/img/login-img.svg);
  background-repeat: no-repeat;
  background-position: right;
}



/* SUB_MENU */

.sub__menu {
  height: 70px;
  background-color: rgba(0, 0, 0, .4);
  margin-bottom: 72px;
}

.sub__menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.rout__container {
  display:flex;
  width: 100%;
  height: 100%;
  max-width: 1035px;
}

.rout__list {
  display:flex;
  align-items:center;
  justify-content: space-between;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 400;
  color: #FFFFFF;
  white-space: nowrap;
}

.rout__link__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.rout__item {
  position: relative;
  height: 100%;
}

.rout__item:hover .rout__link__container {
  color: #9D5CD0;
}

.rout__link_text {
  margin: 0 4px 0 0;
}

.rout__item:first-child {
  margin: 0 0 0 -2px;
}

.rout__link_symbol {
  width: 12px;
  height: 11px;
  background-image: url(/img/rout/down-img.svg);
  background-position: center;
  background-size: cover;
}

.rout__item:hover .rout__link_symbol {
  background-image: url(/img/rout/down-img-hover.svg);
}

.search__container {
  max-width: 251px;
  width: 100%;
  height: 26px;
}

.search__container {
  display: flex;
  flex: 1 1 auto;
}

.search {
  display: flex;
  padding-top: 5px;
  width: 100%;
}

.search:hover .search__input {
  border-bottom: 1px solid #9D5CD0;
}

.search:hover .search__btn {
  background-image: url(/img/pictogram/search-hover.svg);
}

.search__input {
  max-width: 218px;
  padding: 0 0 0 1px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255,255, .85);
  color: #9D5CD0;
}

.search__input::placeholder {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 400;
  color: rgba(255, 255,255, .85);
  white-space: nowrap;
}

.search__btn {
  width: 22px;
  height: 22px;
  background: none;
  border: none;
  background-image: url(/img/pictogram/search.svg);
  background-size:cover;
  background-position: center;
  margin: 0 9px 0 0;
}

/* SUB_MENU -- DROP */

.drop__list {
  display: none;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 40px 20px 40px 40px;
  position: absolute;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.6);
}

.rout__item:hover .drop__list {
  display: flex;
}

.drop__list_container {
  width: 100%;
  height: 100%;
}

.drop__item {
  display: flex;
  padding: 10px 0 0 14px;
  width: 220px;
  height: 40px;
  position: relative;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  background-position:center;
  cursor: pointer;
}

.drop__item:hover {
  border: 2px solid #9D5CD0;
}

.drop__item:not(:last-child){
  margin-bottom: 20px;
}

.drop__item:active::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(194, 131, 243, 0.4);
}

/* Реализм */

.real-one {
  background-image: url(/img/rout/01_real/img_1.png)
}

.real-two {
  background-image: url(/img/rout/01_real/img_2.png)
}

.real-three {
  background-image: url(/img/rout/01_real/img_3.png)
}

.real-four {
  background-image: url(/img/rout/01_real/img_4.png)
}

/* Импрессионизм */

.impres-one {
  background-image: url(/img/rout/02_impres/img_1.png)
}

.impres-two {
  background-image: url(/img/rout/02_impres/img_2.png)
}

.impres-three {
  background-image: url(/img/rout/02_impres/img_3.png)
}

.impres-four {
  background-image: url(/img/rout/02_impres/img_4.png)
}

/* Постимпрессионизм */

.postimpres-one {
  background-image: url(/img/rout/03_postimpres/img_1.png)
}

.postimpres-two {
  background-image: url(/img/rout/03_postimpres/img_2.png)
}

.postimpres-three {
  background-image: url(/img/rout/03_postimpres/img_3.png)
}

.postimpres-four {
  background-image: url(/img/rout/03_postimpres/img_4.png)
}

/* Авангард */

.avangard-one {
  background-image: url(/img/rout/04_avangard/img_01.png)
}

.avangard-two {
  background-image: url(/img/rout/04_avangard/img_02.png)
}

.avangard-three {
  background-image: url(/img/rout/04_avangard/img_03.png)
}

.avangard-four {
  background-image: url(/img/rout/04_avangard/img_04.png)
}

/* Футуризм */

.future-one {
  background-image: url(/img/rout/05_future/img_01.png)
}

.future-two {
  background-image: url(/img/rout/05_future/img_02.png)
}

.future-three {
  background-image: url(/img/rout/05_future/img_03.png)
}

.future-four {
  background-image: url(/img/rout/05_future/img_04.png)
}

/* SECTION HERO */

.section__hero {
  width: 100%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  max-width: 590px;
}

.hero-title {
  display: inline-block;
  padding: 0 0 0 0;
  margin: 0 0 20px -5px;
  font-family: 'Open Sans';
  font-size: 72px;
  line-height: 82px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero-text {
  display: inline-block;
  margin: 0 0 92px 0;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero-button {
  max-width: 314px;
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 100px;
  background-color: #9D5CD0;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  color: #FFFFFF;
}

/* ABOUT__US */

.section__about {
  display: flex;
  flex-direction: column;
}

.title-regular {
  display: inline-block;
  margin: 0 0 16px -2px;
  font-family: 'Open Sans';
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
}

.title-white {
  color: #FFFFFF;
}

.about-text-container {
  max-width: 1080px;
  width: 100%;
}

.text-regular {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.text-white {
  color: #FFFFFF;
}

.container__content.section__about {
  margin-bottom: 70px;
}

/* GALLERY */

.gallery {
  margin-bottom: 80px;
}

.container__full.gallery {
  width: 100%;
  height: 995px;
  background-image: url(/img/gallery/gallery-background.jpg);
  background-position: center;
  background-size: cover;
}

.gallery__container {
  display: flex;
  height: 100%;
  padding: 70px 0;
}

.gallery__left {
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin: 0 50px 0 0;
  padding: 10px 0 0 0;
}

.gallery__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__gallery__text {
  display: inline-block;
  margin-bottom: 10px;
}

/* CHOICES */

.choices__inner {
  min-height: 40px;
  padding: 5px 5px 5px 10px;
  background-color: transparent;
  border-radius: 6px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.is-open .choices__inner {
  min-height: 40px;
  padding: 5px 5px 5px 10px;
  background-color: transparent;
  border-radius: 6px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.is-focused .choices__inner,
.is-open .choices__inner {
    border: 1px solid #FFFFFF;
}

.choices__list--dropdown {
  background-color: transparent;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.is-open .choices__list--dropdown {
  border: 1px solid #999999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.choices__list--dropdown .choices__item:hover {
  color: #C283F3;
}

.choices[data-type*=select-one]:after {
  content: '';
  height: 10px;
  width: 12px;
  border: none;
  background-image: url(/img/pictogram/down-img.svg);
  position: absolute;
  right: 14px;
  top: 18px;
  margin-top: -2.5px;
  pointer-events: none
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -2.5px
}

/* --------- */

.gallery__right{
  max-width: 1150px;
  width: 100%;
  height: 100%;
}

.text-semibold {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

.link__active {
  color: #C283F3;
}

/* SWIPER GALLERY */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  flex-wrap: wrap;
  top: 95px;
}

.swiper-slide {
  height: 350px;
}

.swiper-pagination-fraction {
  position: absolute;
  top: -7px;
  left: 38px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #FFFFFF;
  width: 60px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #666666;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.7;
}

.swiper-button-prev {
  top: 15px;
  left: 2px;
  background-image: url(/img/gallery/back.svg);
}

.swiper-button-next {
  top: 15px;
  left: 105px;
  background-image: url(/img/gallery/next.svg);
}

.swiper-top {
  position: absolute;
  top: 42px;
  width: 130px;
  height: 30px;
}

/* CATALOG */

.catalog__top {
  display: flex;
  align-items: center;
}

.catalog__title {
  display: inline-block;
  margin-right: 42px;
}

.country__tabs__list {
  display: flex;
  padding-bottom: 8px;
}

.country__tabs__item {
  width: 46px;
  height: 46px;
}

.country__tabs__item:not(:last-child) {
  margin-right: 50px;
}

.tabs__btn {
  position: relative;
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-tabs-path="france"] {
  background-image: url(/img/catalog/france.png);
}

[data-tabs-path="germany"] {
  background-image: url(/img/catalog/germany.png);
}

[data-tabs-path="italy"] {
  background-image: url(/img/catalog/italy.png);
}

[data-tabs-path="russia"] {
  background-image: url(/img/catalog/russia.png);
}

[data-tabs-path="belgium"] {
  background-image: url(/img/catalog/belgium.png);
}

.catalog__text__block {
  max-width: 1080px;
  margin-bottom: 50px;
}

.tabs__btn--active::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 62px;
  height: 62px;
  border: 2px solid #9D5CD0;
  border-radius: 100%;
}